<main class="container">
  <div class="row">

    <div class="col-md-12">
      <div class="container-fluid col-md-6 mt-3">

        <h1 class="row d-flex justify-content-center">Set New Password</h1>

        <form id="forgetPasswordForm" class="needs-validation" novalidate>
          <div class="form-floating mb-2">
            <input type="text" class="form-control" id="accountInput" placeholder="xxxxx@stevens.edu">
            <label for="accountInput">Account</label>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Account must be like "...@UNT.edu"!
            </div>
          </div>

          <div class="form-floating mb-2">
            <input type="password" class="form-control" id="passwordInput" placeholder="Password">
            <label for="passwordInput">Password</label>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Password must be more than 10 letters, and have at least one upper lower number and specific letters!
            </div>
          </div>

          <div class="form-floating mb-2">
            <input type="password" class="form-control" id="passwordConfirmInput" placeholder="Password">
            <label for="passwordConfirmInput">Confirm Password</label>
            <div class="valid-feedback">
              Same!
            </div>
            <div class="invalid-feedback">
              Password should be same!
            </div>
          </div>

          <div class="row d-flex justify-content-center">
            <div class="col-6 d-flex justify-content-center">
              <button class="btn btn-primary" type="submit">
                Set New Password
              </button>
            </div>

          </div>

          <div id="forgetPasswordFormErrorDiv" class="error" style="visibility: hidden;"></div>

        </form>
        <div class="text-center mt-3">
          <p>Not a member? <a href="/user/signup">Register</a></p>
        </div>
      </div>

    </div>

  </div>
</main>

<script src="/js/forgetPassword.js"></script>